<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fangyuanapi.mapper.DbEquipmentMapper">

    <resultMap type="DbEquipment" id="DbEquipmentResult">
        <result property="equipmentId"    column="equipment_id"    />
        <result property="heartbeatText"    column="heartbeat_text"    />
        <result property="allottedTime"    column="allotted_time"    />
        <result property="isPause"    column="is_pause"    />
        <result property="pauseState"    column="pause_state"    />
        <result property="isFault"    column="is_fault"    />
        <result property="createTime"    column="create_time"    />
        <result property="equipmentTemplateId"    column="equipment_template_id"    />
        <result property="equipmentNo"    column="equipment_no"    />
        <result property="handlerText"    column="handler_text"    />
        <result property="isOnline"    column="is_online"    />
        <result property="equipmentName"    column="equipment_name"    />
    </resultMap>

    <sql id="selectDbEquipmentVo">
        select equipment_id, heartbeat_text, allotted_time, is_pause, pause_state, is_fault, create_time, equipment_template_id, equipment_no, handler_text, is_online ,equipment_name from db_equipment
    </sql>

    <select id="selectDbEquipmentList" parameterType="DbEquipment" resultMap="DbEquipmentResult">
        <include refid="selectDbEquipmentVo"/>
        <where>
            <if test="heartbeatText != null  and heartbeatText != ''"> and heartbeat_text like concat('%', #{heartbeatText}, '%')</if>
            <if test="equipmentNo != null "> and equipment_no =  #{equipmentNo}</if>
        </where>
    </select>

    <select id="selectDbEquipmentById" parameterType="Long" resultMap="DbEquipmentResult">
        <include refid="selectDbEquipmentVo"/>
        where equipment_id = #{equipmentId}
    </select>

    <insert id="insertDbEquipment" parameterType="DbEquipment" useGeneratedKeys="true" keyProperty="equipmentId">
        insert into db_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="heartbeatText != null  and heartbeatText != ''">heartbeat_text,</if>
            <if test="allottedTime != null ">allotted_time,</if>
            <if test="isPause != null ">is_pause,</if>
            <if test="pauseState != null  and pauseState != ''">pause_state,</if>
            <if test="isFault != null ">is_fault,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="equipmentTemplateId != null ">equipment_template_id,</if>
            <if test="equipmentNo != null ">equipment_no,</if>
            <if test="handlerText != null  and handlerText != ''">handler_text,</if>
            <if test="isOnline != null ">is_online,</if>
            <if test="equipmentName != null ">equipment_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="heartbeatText != null  and heartbeatText != ''">#{heartbeatText},</if>
            <if test="allottedTime != null ">#{allottedTime},</if>
            <if test="isPause != null ">#{isPause},</if>
            <if test="pauseState != null  and pauseState != ''">#{pauseState},</if>
            <if test="isFault != null ">#{isFault},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="equipmentTemplateId != null ">#{equipmentTemplateId},</if>
            <if test="equipmentNo != null ">#{equipmentNo},</if>
            <if test="handlerText != null  and handlerText != ''">#{handlerText},</if>
            <if test="isOnline != null ">#{isOnline},</if>
            <if test="equipmentName != null ">#{equipmentName},</if>
        </trim>
    </insert>

    <update id="updateDbEquipment" parameterType="DbEquipment">
        update db_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="heartbeatText != null  and heartbeatText != ''">heartbeat_text = #{heartbeatText},</if>
            <if test="allottedTime != null ">allotted_time = #{allottedTime},</if>
            <if test="isPause != null ">is_pause = #{isPause},</if>
            <if test="pauseState != null  and pauseState != ''">pause_state = #{pauseState},</if>
            <if test="isFault != null ">is_fault = #{isFault},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="equipmentTemplateId != null ">equipment_template_id = #{equipmentTemplateId},</if>
            <if test="equipmentNo != null ">equipment_no = #{equipmentNo},</if>
            <if test="handlerText != null  and handlerText != ''">handler_text = #{handlerText},</if>
            <if test="isOnline != null ">is_online = #{isOnline},</if>
            <if test="equipmentName != null ">equipment_name = #{equipmentName},</if>
        </trim>
        where equipment_id = #{equipmentId}
    </update>

    <update id="updateDbEquipmentName" parameterType="DbEquipment">
         update db_equipment set
        = #{equipmentName} where equipment_id = #{equipmentId}
    </update>

    <delete id="deleteDbEquipmentById" parameterType="Long">
        delete from db_equipment where equipment_id = #{equipmentId}
    </delete>

    <delete id="deleteDbEquipmentByIds" parameterType="String">
        delete from db_equipment where equipment_id in
        <foreach item="equipmentId" collection="array" open="(" separator="," close=")">
            #{equipmentId}
        </foreach>
    </delete>

</mapper>