<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.ruoyi.fangyuanapi.mapper.DbOrderMapper">

    <resultMap type="DbOrder" id="DbOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="order"    column="order"    />
        <result property="createTime"    column="create_time"    />
        <result property="isSusses"    column="is_susses"    />
        <result property="price"    column="price"    />
        <result property="categoryList"    column="category_list"    />
    </resultMap>

    <sql id="selectDbOrderVo">
        select id, user_id, order, create_time, is_susses, price, category_list from db_order
    </sql>

    <select id="selectDbOrderList" parameterType="DbOrder" resultMap="DbOrderResult">
        <include refid="selectDbOrderVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectDbOrderById" parameterType="Long" resultMap="DbOrderResult">
        <include refid="selectDbOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDbOrder" parameterType="DbOrder">
        insert into db_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="order != null ">order,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="isSusses != null ">is_susses,</if>
            <if test="price != null ">price,</if>
            <if test="categoryList != null  and categoryList != ''">category_list,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="order != null ">#{order},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="isSusses != null ">#{isSusses},</if>
            <if test="price != null ">#{price},</if>
            <if test="categoryList != null  and categoryList != ''">#{categoryList},</if>
         </trim>
    </insert>

    <update id="updateDbOrder" parameterType="DbOrder">
        update db_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="order != null ">order = #{order},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="isSusses != null ">is_susses = #{isSusses},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="categoryList != null  and categoryList != ''">category_list = #{categoryList},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbOrderById" parameterType="Long">
        delete from db_order where id = #{id}
    </delete>

    <delete id="deleteDbOrderByIds" parameterType="String">
        delete from db_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>