<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fangyuanapi.mapper.DbUserDynamicMapper">
    
    <resultMap type="DbUserDynamic" id="DbUserDynamicResult">
        <result property="id"    column="id"    />
        <result property="isHaveVoide"    column="is_have_voide"    />
        <result property="resource"    column="resource"    />
        <result property="content"    column="content"    />
        <result property="relId"    column="rel_id"    />
        <result property="orientation"    column="orientation"    />
        <result property="permission"    column="permission"    />
        <result property="createdTime"    column="created_time"    />
        <result property="isBanned"    column="is_banned"    />
        <result property="forwardNum"    column="forward_num"    />
        <result property="commentNum"    column="comment_num"    />
        <result property="likeNum"    column="like_num"    />
        <result property="isForward"    column="is_forward"    />
    </resultMap>

    <sql id="selectDbUserDynamicVo">
        select id, is_have_voide, resource, content, rel_id, orientation, permission, created_time, is_banned, forward_num, comment_num, like_num,is_forward from db_user_dynamic
    </sql>

    <select id="selectDbUserDynamicList" parameterType="DbUserDynamic" resultMap="DbUserDynamicResult">
        <include refid="selectDbUserDynamicVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectDbUserDynamicById" parameterType="Long" resultMap="DbUserDynamicResult">
        <include refid="selectDbUserDynamicVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDbUserDynamic" parameterType="DbUserDynamic" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into db_user_dynamic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isHaveVoide != null ">is_have_voide,</if>
            <if test="resource != null  and resource != ''">resource,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="relId != null ">rel_id,</if>
            <if test="orientation != null  and orientation != ''">orientation,</if>
            <if test="permission != null ">permission,</if>
            <if test="createdTime != null ">created_time,</if>
            <if test="isBanned != null ">is_banned,</if>
            <if test="forwardNum != null ">forward_num,</if>
            <if test="commentNum != null ">comment_num,</if>
            <if test="likeNum != null ">like_num,</if>
            <if test="isForward != null ">is_forward,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isHaveVoide != null ">#{isHaveVoide},</if>
            <if test="resource != null  and resource != ''">#{resource},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="relId != null ">#{relId},</if>
            <if test="orientation != null  and orientation != ''">#{orientation},</if>
            <if test="permission != null ">#{permission},</if>
            <if test="createdTime != null ">#{createdTime},</if>
            <if test="isBanned != null ">#{isBanned},</if>
            <if test="forwardNum != null ">#{forwardNum},</if>
            <if test="commentNum != null ">#{commentNum},</if>
            <if test="likeNum != null ">#{likeNum},</if>
            <if test="isForward != null ">#{isForward},</if>
        </trim>
    </insert>

    <update id="updateDbUserDynamic" parameterType="DbUserDynamic">
        update db_user_dynamic
        <trim prefix="SET" suffixOverrides=",">
            <if test="isHaveVoide != null ">is_have_voide = #{isHaveVoide},</if>
            <if test="resource != null  and resource != ''">resource = #{resource},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="relId != null ">rel_id = #{relId},</if>
            <if test="orientation != null  and orientation != ''">orientation = #{orientation},</if>
            <if test="permission != null ">permission = #{permission},</if>
            <if test="createdTime != null ">created_time = #{createdTime},</if>
            <if test="isBanned != null ">is_banned = #{isBanned},</if>
            <if test="forwardNum != null ">forward_num = #{forwardNum},</if>
            <if test="commentNum != null ">comment_num = #{commentNum},</if>
            <if test="likeNum != null ">like_num = #{likeNum},</if>
            <if test="isForward != null ">is_forward = #{isForward},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbUserDynamicById" parameterType="Long">
        delete from db_user_dynamic where id = #{id}
    </delete>

    <delete id="deleteDbUserDynamicByIds" parameterType="String">
        delete from db_user_dynamic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDbUserDynamicByUserId" resultMap="DbUserDynamicResult">
        SELECT a.*  FROM db_user_dynamic a LEFT JOIN db_user_and_dynamic b ON a.id = b.dynamic_id WHERE b.user_id = #{id} limit #{currPage},#{pageSize}
    </select>


    <select id="selectDynamicCreatedAndResourcesByid" resultType="java.util.Map">
        select  created_time,resource from db_user_dynamic WHERE id =#{userId} AND is_banned = 0 limit #{currPage} , #{pageSize}
    </select>
    <select id="selectDbUserDynamicByIdAndPermission" parameterType="long" resultMap="DbUserDynamicResult">
        <include refid="selectDbUserDynamicVo"/>
        where id = #{dynamicId} and (permission = 0 or permission = 1)
    </select>

    <select id="selectDbUserDynamicOrderByCreateTime" resultMap="DbUserDynamicResult">
        select * from db_user_dynamic where is_banned = 0 and permission = 0 order by created_time desc limit  #{currPage}, #{pageSize}
    </select>

    <select id="selectDynamicList" resultMap="DbUserDynamicResult">
        select * from db_user_dynamic order by created_time desc limit  #{start}, #{end}
    </select>
    <select id="searchDynamic" resultMap="DbUserDynamicResult">
        select * from db_blog where content
          <bind name="word" value="'%'+name + '%'"></bind>
         like #{word}
    </select>


</mapper>