<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fangyuanapi.mapper.DbUserAndDynamicMapper">

    <resultMap type="DbUserAndDynamic" id="DbUserAndDynamicResult">
        <result property="id" column="id"/>
        <result property="dynamicId" column="dynamic_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <sql id="selectDbUserAndDynamicVo">
        select id, dynamic_id, user_id from db_user_and_dynamic
    </sql>

    <select id="selectDbUserAndDynamicList" parameterType="DbUserAndDynamic" resultMap="DbUserAndDynamicResult">
        <include refid="selectDbUserAndDynamicVo"/>
        <where>
        </where>
    </select>

    <select id="selectDbUserAndDynamicById" parameterType="Long" resultMap="DbUserAndDynamicResult">
        <include refid="selectDbUserAndDynamicVo"/>
        where id = #{id}
    </select>

    <insert id="insertDbUserAndDynamic" parameterType="DbUserAndDynamic" useGeneratedKeys="true" keyProperty="id">
        insert into db_user_and_dynamic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dynamicId != null ">dynamic_id,</if>
            <if test="userId != null ">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dynamicId != null ">#{dynamicId},</if>
            <if test="userId != null ">#{userId},</if>
        </trim>
    </insert>

    <update id="updateDbUserAndDynamic" parameterType="DbUserAndDynamic">
        update db_user_and_dynamic
        <trim prefix="SET" suffixOverrides=",">
            <if test="dynamicId != null ">dynamic_id = #{dynamicId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbUserAndDynamicById" parameterType="Long">
        delete from db_user_and_dynamic where id = #{id}
    </delete>

    <delete id="deleteDbUserAndDynamicByIds" parameterType="String">
        delete from db_user_and_dynamic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDbUserAndDynamicCountByUserId" resultType="integer">
        select count(*) count from db_user_and_dynamic where user_id = 1
    </select>
    <select id="selectDbUserAndDynamicByDynamicId" resultType="java.lang.Long">
        select user_id from db_user_and_dynamic where dynamic_id = #{id}
    </select>

</mapper>